<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bucket List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22DA6DC31D36E5D5004B6521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DA6DD71D36E5D5004B6521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DA6DE21D36E5D5004B6521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
